################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AuthClientServer
/src/AuthClientServer.Storage/bin/Debug/netcoreapp3.1
/src/AuthClientServer.Storage/obj
/src/AuthClientServer.Core/bin/Debug/netcoreapp3.1
/src/AuthClientServer.Core/obj
/src/Presentation
